# Logs
logs/*.log.gz
logs/latest.log
plugins/spark/

# Minecraft runtime files
.console_history
usercache.json
banned-players.json
banned-ips.json
ops.json
whitelist.json

# Worlds (VERY LARGE)
world/
world_nether/
world_the_end/

# Crash reports
crash-reports/